@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.h1 {
  @apply pl-3 mb-10 font-sans text-base sm:text-lg md:text-3xl;
}

.article-title-input {
  @apply shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 mb-3 leading-tight focus:outline-none;
}

.article-category-select {
  @apply shadow appearance-none border border-gray-500 rounded w-1/6 py-1 px-3 leading-tight focus:outline-none;
}

.article-save-btn {
  @apply w-full text-white bg-gray-600 p-2 rounded cursor-pointer;
}

/* pagination */
#page-nav .selected {
  @apply text-gray-200 bg-gray-600;
}
#page-nav li {
  @apply flex-none block py-2 px-4 m-2 border border-gray-400 transition-colors transform duration-300 hover:bg-gray-600 hover:text-gray-200;
}

/* aside */
.aside-name {
  @apply relative w-full font-bold text-xl mb-2;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.aside-name:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #e2e8f0;
}

.aside-name:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  border-bottom: 2px solid #a0aec0;
}
